* {
    margin: 0;
    padding: 0;

}
.card {
    background-color: aqua;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background: linear-gradient(-20deg,#FBD3E9, #BB377D);
    text-align: center;
}
.card .employee-name {
    color: #ffffff;
    font-size: 30px;

}
.card .position {
    color: #ffffff;
    text-decoration: underline;
}
.card .employee-image {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;

}